[Unit]
Description=Announce that the boot was succesful for guest
DefaultDependencies=no
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/echo boot-successful
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target