[Unit]
Description=Run SNP Regular Attestation after boot
DefaultDependencies=no
After=network-online.target snpguest-ok.service
Wants=network-online.target snpguest-ok.service

[Service]
Type=simple
ExecStart=/usr/local/lib/scripts/snpguest_attestation.sh
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
