[Unit]
Description=Run snguest ok to verify SNP enablement on guest
DefaultDependencies=no
After=boot-succesful.service
Wants=boot-succesful.service

[Service]
Type=oneshot
ExecStart=snpguest ok
StandardOutput=journal+console
StandardError=journal+console
LogExtraFields="SEV_VERSION=2.0.0-0" "SNPGUEST_TEST=2.0.0-0"

[Install]
WantedBy=snpguest-tests.target
