[Unit]
Description=Read guest journal logs on the host
DefaultDependencies=no
After=network-online.target systemd-journal-remote.service launch-guest.service
Wants=network-online.target
ConditionPathExists=/run/launch-guest.ok

[Service]
Type=oneshot
ExecStart=/usr/local/lib/scripts/read-guest-journal.sh
StandardOutput=journal+console
StandardError=journal+console
ExecStartPost=/usr/bin/touch /run/read-guest-journal.ok

[Install]
WantedBy=multi-user.target