[Unit]
Description=Calculate guest measurement
DefaultDependencies=no
After=network-online.target snphost-ok.service
Wants=network-online.target
ConditionPathExists=/run/snphost-ok.ok

[Service]
Type=oneshot
ExecStart=/usr/local/lib/scripts/guest_measurement.sh
StandardOutput=journal+console
StandardError=journal+console
ExecStartPost=/usr/bin/touch /run/calculate-measurement.ok

[Install]
WantedBy=multi-user.target