[Unit]
Description=Poweroff after boot
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl --no-block poweroff

[Install]
WantedBy=multi-user.target
