# Target reached when all jobs are complete
# Job services should use: WantedBy=exec.target

[Unit]
Description=Exec
After=boot.target
Wants=boot.target
