# Target reached when all reporting is complete
# Reporting services should use: WantedBy=report.target

[Unit]
Description=Report
After=exec.target
Wants=exec.target
